{% extends 'includes/layout.html' %}

{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1>  POC LLM pour le fonds documentaire.  ️</h1>
    <p class="lead">
    
    </p>

    <form class="" action="/demander" method="post">

      <div class="mb-3">
        <input type="text" class="form-control" name="query" placeholder="eg. Qu'est ce que borj poste de travail?">
        <div class="form-text">Posez moi votre question.</div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>

    </form>
  </div>


  <div class="p-3 rounded">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-primary">{{prompt}}</h3>
        <p class="lead">{{openAIAnswer}}</p>

      </div>
    </div>
  </div>
</main>
{% endblock %}
